

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <br>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
    <div class="hgf"><i class="fa fa-address-book"></i> Company details</div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="all-padding-page">
      <div class="top-text-all">
        <h1>Company details</h1>
        <p class="top-text">Lorem ipsum dolor sit, amet consectetur
         adipisicing elit. Numquam, harum! Qui hic enim quod repellendus <br> eos explicabo velit dolores error id! Mollitia, consectetur.
        Lorem ipsum, dolor sit amet </p>
      </div>

      <br>
        <div class="container-fluid ">
          <h2>Company</h2>
          <div class="row "> 
            <div class="col-6">
              <form class="example-form">
                <mat-form-field appearance="fill">
                  <mat-label>Company</mat-label>
                  <input matInput  placeholder="Company">
                </mat-form-field>
              </form>
            </div>
            <div class="col-6">
              <form class="example-form">
                <mat-form-field appearance="fill">
                  <mat-label>Website address</mat-label>
                  <input matInput  placeholder="Website address">
                </mat-form-field>
              </form>
            </div>
          </div>

          <div class="row"> 
            <div class="col-6">
              <form class="example-form">
                <mat-form-field appearance="fill">
                  <mat-label>Select</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <div class="col-6">
              <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>
        <div class="container-fluid ">
          <h2>Company</h2>
          <div class="row"> 
            <div class="col-6">
              <form class="example-form">
                <mat-form-field appearance="fill">
                  <mat-label>Select</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <div class="col-6">
              <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>
        <div class="container-fluid ">
          <h2>Company</h2>
          <div class="row"> 
            <div class="col-6">
              <mat-checkbox class="pr-5" >MBA</mat-checkbox>
              <mat-checkbox class="pr-5" >MBA</mat-checkbox>
              <mat-checkbox class="pr-5" >MBA</mat-checkbox>
            </div>
            <div class="col-6">
             
            </div>
          </div>
        </div>


        <div class="container-fluid ">
          <div class="row"> 
            <div class="col-6">
            </div>
            <div class="col-6" style="text-align: end;">
              <button  class=" mr-2 button-matc">Cancel</button><button class="button-mats">Save Changes</button>
            </div>
          </div>
        </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
